<div class="block-border block-inner page-container ml-auto mr-auto">
  <div class="order-details ml-auto mr-auto">
    <form [formGroup]="form">
      <div class="container p-0 order_heading">
        <div class="order-heading">
          <div class="row">
            <span class="order-title">Travel Details</span> <span class="order-step"> (Step 2 of 5) </span>
          </div>
        </div>
      </div>
      <div class="row description">
        <span>
          <p class="description-title">You are applying for a {{(order | async).visa_type?.name}} visa
            ({{(order | async).visa_service?.service}}, {{(order | async).visa_category?.name}}).</p>
          <p class="description-text">{{(order | async).visa_type?.description}}</p>
        </span>
      </div>
      <div class="row description-important">
        <span>
          <p class="description-title">Important</p>
          <p class="description-text">Business visa is issued for travellers who visit Russia on official or private business. Business visas are best for the visitors who do not know their exact itineraries.</p>
        </span>
      </div>
      <div class="container order-travelling p-0" *ngIf="form">
        <div class="row order-travelling-description">
          Who is travelling?
        </div>
        <div class="row">
          <div class="col-4 p-0">
            <div class="form-group">
              <label for="form-name" class="form-label">Name</label>
              <input id="form-name" placeholder="Ivan" type=text class="form-control" formControlName="name">
              <small *ngIf="errors['email']" class="form-text form-message">{{errors['name'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-surname" class="form-label">Surname</label>
              <input id="form-surname" placeholder="Ivanov" type=text class="form-control" formControlName="surname">
              <small *ngIf="errors['surname']" class="form-text form-message">{{errors['surname'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-date-of-birth" class="form-label">Date of birth</label>
              <div class="input-group mat-input-group">
                <mat-form-field floatLabel="always" appearance="fill">
                  <input id="form-date-of-birth" placeholder="DD/MM/YYYY" matInput formControlName="date_of_birth"
                         [matDatepicker]="picker5">
                  <mat-datepicker-toggle matSuffix [for]="picker5">
                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
              </div>
              <small *ngIf="errors['date_of_birth']"
                     class="form-text form-message">{{errors['date_of_birth'][0]}}</small>
            </div>
            <div class="form-group">
              <label class="form-label">Sex</label>
              <div class="row p-0 form-gender-input">
                <input type="radio" class="radio-gender mt-auto mb-auto" id="exampleRadios1" value="male"
                       checked="checked"
                       formControlName="gender">
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="row p-0 form-gender-input">
                <input type="radio" class="radio-gender mt-auto mb-auto" id="exampleRadios2" value="female"
                       formControlName="gender">
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
              <small *ngIf="errors['gender']" class="form-text form-message">{{errors['gender'][0]}}</small>
            </div>

          </div>
          <div class="col-2"></div>

        </div>
      </div>
      <hr>
      <div class="container order-travelling p-0">
        <div class="row order-travelling-description">
          Passport details
        </div>
        <div class="row">
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name1" class="form-label">Passport number</label>
              <input id="form-name1" placeholder="Ivan" type=text class="form-control"
                     formControlName="passport_number">
              <small *ngIf="errors['passport_number']"
                     class="form-text form-message">{{errors['passport_number'][0]}}</small>
            </div>
          </div>
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name2" class="form-label">Passport expiry date</label>
              <mat-form-field floatLabel="always" appearance="fill">
                <input id="form-name2" placeholder="DD/MM/YYYY" matInput formControlName="passport_expiry_date"
                       [matDatepicker]="picker6">
                <mat-datepicker-toggle matSuffix [for]="picker6">
                  <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
              <small *ngIf="errors['passport_expiry_date']"
                     class="form-text form-message">{{errors['passport_expiry_date'][0]}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="container order-travelling p-0">
        <div class="row order-travelling-description">
          Visa details
        </div>
        <div class="row">
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name3" class="form-label">Visa start date</label>
              <mat-form-field floatLabel="always" appearance="fill">
                <input id="form-name3" placeholder="DD/MM/YYYY" matInput formControlName="visa_start_date"
                       [matDatepicker]="picker7">
                <mat-datepicker-toggle matSuffix [for]="picker7">
                  <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
              </mat-form-field>
              <small *ngIf="errors['visa_start_date']"
                     class="form-text form-message">{{errors['visa_start_date'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-name5" class="form-label">Purpose of visit</label>
              <input id="form-name5" placeholder="Choose from the list" type=text class="form-control"
                     formControlName="purpose_of_visit">
              <small *ngIf="errors['purpose_of_visit']"
                     class="form-text form-message">{{errors['purpose_of_visit'][0]}}</small>
            </div>
          </div>
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name4" class="form-label">Visa end date</label>
              <mat-form-field floatLabel="always" appearance="fill">
                <input id="form-name4" placeholder="DD/MM/YYYY" matInput formControlName="visa_end_date"
                       [matDatepicker]="picker8">
                <mat-datepicker-toggle matSuffix [for]="picker8">
                  <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker8></mat-datepicker>
              </mat-form-field>
              <small *ngIf="errors['visa_end_date']"
                     class="form-text form-message">{{errors['visa_end_date'][0]}}</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-10 p-0">
            <div class="form-check form-group">
              <input class="form-check-input" type="checkbox" formControlName="trips_soon" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Tick here if you are planning any trips soon and will need your passport before any exact date
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name7" class="form-label">Return my passport before</label>
              <mat-form-field floatLabel="always" appearance="fill">
                <input id="form-name7" placeholder="DD/MM/YYYY" matInput formControlName="date_passport_back"
                       [matDatepicker]="picker9">
                <mat-datepicker-toggle matSuffix [for]="picker9">
                  <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker9></mat-datepicker>
              </mat-form-field>
              <small *ngIf="errors['date_passport_back']"
                     class="form-text form-message">{{errors['date_passport_back'][0]}}</small>
            </div>
          </div>
        </div>

        <hr>
      </div>
      <div class="container order-travelling p-0" *ngIf="(order | async).visa_type.name != 'Business'">
        <div class="row order-travelling-description">
          Travel destination
        </div>
        <div class="row">
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name19" class="form-label">Your main destination</label>
              <input id="form-name19" placeholder="Yolo Corp. Finland" type=text class="form-control"
                     formControlName="address">
              <small *ngIf="errors['address']" class="form-text form-message">{{errors['address'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-name10" class="form-label">Address in the main destination</label>
              <input id="form-name10" placeholder="Turku" type=text class="form-control" formControlName="main_city">
              <small *ngIf="errors['main_city']" class="form-text form-message">{{errors['main_city'][0]}}</small>
            </div>
          </div>
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name11" class="form-label">Other destinations, if any</label>
              <textarea id="form-name11" placeholder="Helsinki" type=text class="form-control"
                        formControlName="other_places"></textarea>
              <small *ngIf="errors['other_places']" class="form-text form-message">{{errors['other_places'][0]}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="container order-travelling p-0" *ngIf="(order | async).visa_type.name == 'Business'">
        <div class="row order-travelling-description">
          Traveller’s job details
        </div>
        <div class="row">
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name16" class="form-label">Job Title</label>
              <input id="form-name16" placeholder="Software Engineer" type=text class="form-control"
                     formControlName="position">
              <small *ngIf="errors['position']" class="form-text form-message">{{errors['position'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-name15" class="form-label">Company Name</label>
              <input id="form-name15" placeholder="Apple Inc." type=text class="form-control"
                     formControlName="company_name">
              <small *ngIf="errors['company_name']" class="form-text form-message">{{errors['company_name'][0]}}</small>
            </div>
          </div>
          <div class="col-5 form-control-column p-0">
            <div class="form-group">
              <label for="form-name14" class="form-label">Company address</label>
              <input id="form-name14" placeholder="Palo Alto, California, USA" type=text class="form-control"
                     formControlName="company_address">
              <small *ngIf="errors['company_address']"
                     class="form-text form-message">{{errors['company_address'][0]}}</small>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="nex-step-container">
    <!--    <button class="next-step ml-auto mr-auto" (click)="previousStep()">-->
    <!--      Previous step-->
    <!--    </button>-->
    <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm($event)">
      Save and continue
    </button>
  </div>
</div>
