.order-details {
  width: 716px;
}

.order-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #000000;
}


.order-travelling {
  margin-top: 48px;
  margin-bottom: 40px;
  .order-travelling-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.8;
    padding-bottom: 27px;
  }


}

.mat-input-group {
  height: 47px;
}


textarea {
  width: 345px;
  height: 152px;
}

hr {
  margin-top: 40px;
}

