
.element {
  width: auto;
  height: 147px;
  padding: 20px;
}
.element-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #151515;
}
.element-text {
  margin-top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #454545;
}
