<div class="block-border block-inner page-container ml-auto mr-auto">
  <div class="order-container ml-auto mr-auto">
    <form>
      <div class="container p-0 order_heading">
        <div class="order-heading">
          <div class="row">
            <span class="order-title">Visa application and Submission </span> <span class="order-step"> (Step 4 of 5) </span>
          </div>
        </div>
      </div>

      <div class="container order-block">
        <div class="row order-block-title">
          Visa Application
        </div>
        <div class="row order-block-desc">
          How would you like to fill your visa application form?
        </div>
        <div class="row">
          <div class="col-4 element-block" *ngFor="let visaApplicationType of visaApplicationTypes">
            <div class="element" (click)="selVisaApplicationType = visaApplicationType" [ngClass]="{'element-selected': visaApplicationType?.id == selVisaApplicationType?.id}">
              <div class="element-title">{{visaApplicationType.name}}</div>
              <div class="element-text">{{visaApplicationType.desc}}</div>
            </div>
          </div>
        </div>
        <div class="row description" *ngIf="selVisaApplicationType">
          <p>
            <strong>{{selVisaApplicationType?.name}}</strong><br><br>
            {{selVisaApplicationType?.text}}
          </p>
        </div>
      </div>

      <div class="container order-block">
        <div class="row order-block-title">
          Submitting your documents
        </div>
        <div class="row order-block-desc">
          How would you like to submit your documents?
        </div>
        <div class="row">
          <div class="col-4 element-block" *ngFor="let visaVisaSubmitType of visaVisaSubmitTypes">
            <div class="element" (click)="selVisaSubmitType = visaVisaSubmitType" [ngClass]="{'element-selected': visaVisaSubmitType?.id == selVisaSubmitType?.id}">
              <div class="element-title">{{visaVisaSubmitType.name}}</div>
              <div class="element-text">{{visaVisaSubmitType.desc}}</div>
            </div>
          </div>
        </div>
        <div class="row description" *ngIf="selVisaSubmitType">
          <p>
            <strong>{{selVisaSubmitType?.name}}</strong><br><br>
            {{selVisaSubmitType?.text}}
          </p>
        </div>
      </div>

    </form>
  </div>
  <div class="nex-step-container">
    <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm()">
      Save and continue
    </button>
  </div>
</div>
