.navbar {
  max-width: 1200px;
}

.header {
  margin-bottom: -80px;
  height: 101px;
  background-color: #f8f9fa !important;
  z-index: 100;
}

.header_logo_link {
  margin-left: 50px;
}

.header_logo {
  text-align: center;
  a {
    font-family: Raleway, serif;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}


nav .navbar-nav li {
  margin: auto 15px;
}

.header_menu {
  text-align: center;

  ul {
    list-style: none;

    li {
      display: inline-flex;
      list-style: none;
      align-items: center;
      padding-left: 25px;
      margin: 0;

      a {
        font-family: Noto Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-decoration: none;
        padding-right: 30px;
        color: grey;
        margin-top: 8px;
      }
    }
  }

}
.navbar-nav .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #949494;
}

nav .navbar-nav .nav-item:first-child {
  margin-left:50px;
}

.navbar-nav .nav-link:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: black;
}
.header_login {
  float: left;
  div.header_button {
    background: #3C65F4;
    border-radius: 8px;
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff;

    width: 162px;
    height: 53px;

    text-align: center;
    padding: 11px;
    margin: 16px auto;
    display: block;
    text-decoration: none;
  }

  div.header_button_text {
    font-family: Roboto;
    margin-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

.submit-button {
  width: 162px;
  height: 53px;
}

:host {
  display: block;
  height: 101px;
}
