<div class="row header align-items-center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a [routerLink]="'/'" class="header_logo_link">
      <img
        [src]="'/assets/svg/Logo.svg'"
        alt="За стеклом">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/'">Visas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Contact</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0 header_login">
        <button class="submit-button" [routerLink]="['/auth']" *ngIf="!isAuthorized()">
          Sign In
        </button>
        <button class="submit-button" [routerLink]="['/profile']" *ngIf="isAuthorized()">
          Profile
        </button>
      </div>
    </div>
  </nav>
</div>
