<div class="block-border block-inner page-container ml-auto mr-auto">
  <div class="order-container ml-auto mr-auto">
    <form [formGroup]="form">
      <div class="container p-0 order_heading">
        <div class="order-heading">
          <div class="row p-0">
            <span class="order-title">Checkout</span> <span class="order-step"> (Final step) </span>
          </div>
        </div>
      </div>

      <div class="container order-block p-0">
        <div class="row p-0 order-block-title">
          Order Summary
        </div>
        <div class="row p-0 order-summary-items">
          <div class="col-8 p-0">
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Type of visa</div>
              <div class="col-3 p-0 order-summary-text">{{(order | async).visa_type?.name}}</div>
            </div>
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Visa category</div>
              <div class="col-3 p-0 order-summary-text">{{(order | async).visa_category?.name}}</div>
            </div>
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Type of service</div>
              <div class="col-3 p-0 order-summary-text">{{(order | async).visa_service_type?.name}}</div>
            </div>
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Visa start date</div>
              <div class="col-3 p-0 order-summary-text">{{(orderDetails | async).visa_start_date}}</div>
            </div>
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Visa end date</div>
              <div class="col-3 p-0 order-summary-text">{{(orderDetails | async).visa_end_date}}</div>
            </div>
            <div class="row p-0 order-summary-item">
              <div class="col-4 p-0 order-summary-name">Return the passport before</div>
              <div class="col-3 p-0 order-summary-text">{{(orderDetails | async).date_passport_back}}</div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container p-0 order-block" *ngIf="paymentTypes.length > 0">
        <div class="row order-block-title">
          Payment
        </div>
        <div class="row p-0 order-block-desc">
          How would you like to pay?
        </div>
        <div class="row p-0 list">
          <div class="col-sm-4 element-block" *ngFor="let paymentType of paymentTypes">
            <div class="element" (click)="setPaymentType(paymentType)"
                 [ngClass]="{'element-selected': paymentType?.id == this.selPaymentType?.id}">
              <div class="element-title">
                <div class="element-title-inner">
                  {{paymentType.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container order-block p-0" *ngIf="selPaymentType?.id == 1" formGroupName="card">
        <div class="row">
          <div class="col-4 p-0">
            <div class="form-group">
              <label for="form-card_name" class="form-label">Name on card</label>
              <input id="form-card_name" placeholder="Mister Bean" type=text class="form-control" formControlName="card_name">
              <small *ngIf="errors['card_name']" class="form-text form-message">{{errors['card_name'][0]}}</small>
            </div>
            <div class="form-group">
              <label for="form-card_number" class="form-label">Card number</label>
              <input id="form-card_number" placeholder="1234 5678 1234 5678" type=text class="form-control" formControlName="card_number">
              <small *ngIf="errors['card_number']" class="form-text form-message">{{errors['card_number'][0]}}</small>
            </div>
            <div class="row p-0">
              <div class="col-5 p-0">
                <div class="form-group">
                  <label for="form-card_expire" class="form-label">Expiry date</label>
                  <input id="form-card_expire" placeholder="MM/YYYY" type=text class="form-control" formControlName="card_expire">
                  <small *ngIf="errors['card_expire']" class="form-text form-message">{{errors['card_expire'][0]}}</small>
                </div>
              </div>
              <div class="col-1 p-0"></div>
              <div class="col-3 p-0">
                <div class="form-group">
                  <label for="form-CVV" class="form-label">CVV</label>
                  <input id="form-CVV" placeholder="999" type=text class="form-control" formControlName="cvv">
                  <small *ngIf="errors['cvv']" class="form-text form-message">{{errors['cvv'][0]}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container order-block p-0" *ngIf="selPaymentType?.id == 2" formGroupName="card">
        <div class="row description">
          <p>
            <strong>Other ways of payment</strong><br><br>
            Est tempore nulla nam suscipit ullam vel voluptas quia aut voluptatibus autem! Est consequatur facilis et consectetur ratione et rerum impedit et exercitationem nihil.<br><br>
            • Pay in the office<br>
            • Pay by check<br>
            • Pay by invoice<br>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-10 p-0">
          <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" formControlName="process_information" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Tick here to let us process your documents and personal information
            </label>
          </div>
        </div>
        <div class="col-10 p-0">
          <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" formControlName="marketing_emails" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Tick here if you don’t want us to send you marketing emails
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="nex-step-container">
    <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm()">
      Save and continue
    </button>
  </div>
</div>
