.order-container {
  width: 716px;
}

.order-block {
  margin-top: 48px;
  margin-bottom: 48px;
}

.order-summary-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 145%;
  color: #000000;
}

.order-summary-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #000000;
}

.order-summary-item + .order-summary-item {
  margin-top: 12px;
}

.order-summary-items {
  margin-top: 24px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #B8B8B8;
  border-radius: 8px !important;
  padding: 0 !important;
  height: 47px;
}

::ng-deep .mat-form-field-wrapper {
  height: 47px;
}

::ng-deep .mat-form-field-underline {
  display: none !important;
  background-image: none !important;
}

::ng-deep .mat-input-element {
  padding: 0 !important;
}

::ng-deep .mat-input-element::placeholder {
  color: #484848;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

::ng-deep .mat-form-field {
  border-top: none;
  height: 47px;
}

::ng-deep .mat-form-field-infix {
  padding: 6px 12px !important;
  border: none;
}

::ng-deep .mat-form-field-suffix {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

input::placeholder {
  color: #484848;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.mat-input-element {
  height: 35px;
}

::ng-deep .mat-datepicker-toggle {
  background: url("../../../../assets/svg/DateButton.svg") no-repeat !important;
}

::ng-deep .mat-form-field-suffix {
  background-image: url("../../../../assets/svg/DateButton.svg");
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep .mat-form-field-suffix .mat-icon {
  display: none !important;
}
