<div class="row">
  <div class="block-border block-inner page-container ml-auto mr-auto">
    <div class="row sign-in-inner ml-auto mr-auto">
      <div class="container-fluid">
        <div class="col-lg-12 sign-in-header">
          Sign In & Checkout
        </div>
        <div class="row form-columns">
          <div class="col-lg-6">
            <div class="form-column mr-auto">
              <form [formGroup]="userLogin">
                <div class="form-header">Registered Users</div>
                <div class="form-info">Checkout with your email if you have ordered with us previously.</div>
                <div class="form-group">
                  <input type="text" class="form-control" [ngClass]="hasError('email')" formControlName="email" placeholder="Email">
                  <small *ngIf="errors['email']" class="form-text form-message">{{errors['email'][0]}}</small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [ngClass]="hasError('password')" formControlName="password" placeholder="Password">
                  <small *ngIf="errors['password']" class="form-text form-message">{{errors['password'][0]}}</small>
                  <small *ngIf="errors['non_field_errors']" class="form-text form-message">{{errors['non_field_errors'][0]}}</small>
                </div>
                <div class="form-check">
                  <input id="rememberMe" type="checkbox" class="form-check-input">
                  <label for="rememberMe" class="form-check-label">Remember me</label>
                </div>
                <div class="form-group">
                </div>
                <div class="form-button">
                  <button class="submit-button" (click)="submitForm()">
                      Sign In
                  </button>
                  <div class="forgot-password">
                    <span style="color:blue">Forgot</span> your password
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-column ml-auto mr-auto">
              <div class="form-header">Guests</div>
              <div class="form-info">Checkout with your email if you have ordered with us previously.</div>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="guestEmail" [ngClass]="{'form-error': guestEmailError,'form-control-error': guestEmailError}"  placeholder="Email">
                <small *ngIf="guestEmailError" class="form-text form-message">{{guestEmailError}}</small>
              </div>
              <div class="form-button">
                <button type="button" class="submit-button" (click)="submitFormGuest()">
                    Continue as guest
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
