.sign-in-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  margin-top: 60px;
}
.sign-in-inner {
  width: 730px;
}
.form-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}
.form-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 15px;
}
.forgot-password {
  text-align: center;
}
.form-column {
  width:255px;
}
.form-columns {
  margin-top: 45px;
}
.form-control {
  border: 1px solid #B8B8B8;
  box-sizing: border-box;
  border-radius: 8px;
}
.form-control-error {
  background: #FDF5FF;
  border: 1px solid #FA96FA;
  box-sizing: border-box;
  border-radius: 8px;
  color: #BE41BE;
}
.form-control-error::placeholder {
  color: #BE41BE;
}
.form-check-input {
  height: 16px;
  position: absolute;
  width: 16px;
  margin-top: 0px;
}
.form-check {
  display: flex;
  align-items: center;
}
.form-check-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 5px;
}
