<div class="col-6 your-order ml-auto">
  <div class="row your-order-heading">Your order</div>
  <div class="your-order-price-list">
    <div class="row your-order-price-list-item">
      <div class="col-8 p-0">Visa fee, standard rate</div>
      <div class="col-4 p-0">
        <div class="visa-total">£{{ formatToDecimals((order | async).visa_service?.cost) }}</div>
      </div>
    </div>
    <div class="row your-order-price-list-item">
      <div class="col-8 p-0">Delivery</div>
      <div class="col-4 p-0">
        <div class="delivery-total">£{{ formatToDecimals((order | async).delivery) }}</div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 p-0">
      <div class="total-text">
        Total
      </div>
    </div>
    <div class="col-4 p-0">
      <div class="total-total">£{{ formatToDecimals((order | async).visa_service?.cost) }}</div>
    </div>
  </div>
  <div class="row total-includes">
    Includes VAT of £0.00
  </div>
</div>
