.your-order-container {
  position: fixed;
  top: 150px;
  transform: translate(calc(50vw - 50%));
  width: 1000px;
}
.your-order {
  width: 275px;
  height: 244px;
  background: #F0F2FA;
  border: 1px solid #97ADFA;
  box-sizing: border-box;
  position: fixed;
  border-radius: 8px;
  left: calc(50% + 80px);
  top: 600px;
  .your-order-heading {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
  }

  .visa-total {
    float: right;
  }

  .total-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.8;
  }

  .total-total {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #151515;
    opacity: 0.8;
  }

  .delivery-total {
    float: right;
  }

  .total-includes {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #454545;
    opacity: 0.8;
  }

  .your-order-price-list {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .your-order-price-list-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.8;
  }

  .your-order-price-list-item + .your-order-price-list-item {
    margin-top: 16px;
  }

  hr {
    border: 1px solid #B8B8B8;
  }
}
