<app-order-visa *ngIf="step == 1"></app-order-visa>
<app-order-details *ngIf="step == 2"></app-order-details>
<app-order-delivery *ngIf="step == 3"></app-order-delivery>
<app-order-checkout *ngIf="step == 4"></app-order-checkout>
<app-order-checkout-final *ngIf="step == 5"></app-order-checkout-final>
<app-order-thank-you *ngIf="step == 6"></app-order-thank-you>
<app-your-order-pop-up *ngIf="step == 2 || step == 3 || step == 4 || step == 5"></app-your-order-pop-up>
