.order-container {
  width: 800px;
}
.head {
  background: #333333;
  height: 80px;
}

.order-heading {
  margin-top: 61px;
}
.order-block {
  margin-top: 60px;
}

.order-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #000000;
}

.order-block-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
}

.order-step {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  color: #CCCCCC;
  height: 40px;
  margin-top: auto;
  margin-left: 20px;
}

.order-change {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #454545;
  margin-top: 10px;
}

.radio-gender {
  width: 16px;
  height: 16px;
}
.order-block-desc {
  font-family: Roboto;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.form-gender-input {
  height: 30px;
}

.step-heading {
  margin-top: 61px;
}

.step-heading-info {
  margin-top: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.form_type {
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
}

.form_type .list{
  margin-top: 10px;
}

.visa_type_desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #454545;
}

.element {
  height: 59px;
  width: 100%;
  border: 1px solid #8D8D8D;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.element-selected {
  background: #F0F2FA;
  border: 1px solid #97ADFA;
  box-sizing: border-box;
  border-radius: 8px;
}
.element-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #454545;
  text-align: center;
}

.element-title-inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.element-block {
  margin-top: 10px;
  padding: 0;
  padding-right: 5px;
  text-align: center;
}
.description {
  background: #F0F2FA;
  border: 1px solid #97ADFA;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #454545;
  padding: 20px;
  margin-top: 20px;
}

.description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  margin: 0;
}
.next-step {
  width: 386px;
  height: 66px;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: none;
}

.nex-step-container {
  margin-top: 60px;
}

.form-control {
  border: 1px solid #B8B8B8;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-group-header {
  padding-bottom: 27px;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.8;
}

.form-check-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.8;
  padding-left: 8px;
}

.form-control-column + .form-control-column {
  margin-left: 5px;
}

.form-control-column .form-group {
  width: 256px;
}

.form-check-input {
  height: auto;
}

.description-important {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #454545;
  padding: 20px;
  margin-top: 20px;
  background: #FAF8F0;
  border: 1px solid #C5BF8F;
  box-sizing: border-box;
  border-radius: 8px;
}

.description-text {
  color: #454545;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 0;
  margin-top: 12px;
}

input {
  height: 47px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #B8B8B8;
  border-radius: 8px !important;
  padding: 0 !important;
  height: 47px;
}

::ng-deep .mat-form-field-wrapper {
  height: 47px;
}

::ng-deep .mat-form-field-underline {
  display: none !important;
  background-image: none !important;
}

::ng-deep .mat-input-element {
  padding: 0 !important;
}

::ng-deep .mat-input-element::placeholder {
  color: #484848;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

::ng-deep .mat-form-field {
  border-top: none;
  height: 47px;
}

::ng-deep .mat-form-field-infix {
  padding: 6px 12px !important;
  border: none;
}

::ng-deep .mat-form-field-suffix {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

input::placeholder {
  color: #484848;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.mat-input-element {
  height: 35px;
}

::ng-deep .mat-datepicker-toggle {
  background: url("../../assets/svg/DateButton.svg") no-repeat !important;
}

::ng-deep .mat-form-field-suffix {
  background-image: url("../../assets/svg/DateButton.svg");
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep .mat-form-field-suffix .mat-icon {
  display: none !important;
}
