.modal-header-custom {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
}

.submit-button {
  border-radius: 8px;
  width: 243px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.form-control {
  width: 283px;
  height: 53px;
}
.form-label {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  opacity: 0.8;
}
select {
  background: #FFFFFF;
  opacity: 0.8;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 8px;
}
.custom-container {
  overflow: hidden;
  margin: 72px;
  min-width: 900px;
  min-height: 167px;
}
::ng-deep .mat-dialog-container {
  background: #F6F6F6;
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 0;
}
