<div class="custom-container">
  <h2 class="modal-header-custom" mat-dialog-title>Change nationality and country of destination</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="formGroupExampleInput" class="form-label">Citizen of</label>
          <select [(ngModel)]="nationality" id="formGroupExampleInput" class="form-control" [ngModelOptions]="{standalone: true}">
            <option [value]="nationality.name" *ngFor="let nationality of nationalities">{{nationality.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="formGroupExampleInput2" class="form-label">Travelling to</label>
          <select [(ngModel)]="country" id="formGroupExampleInput2" class="form-control" [ngModelOptions]="{standalone: true}">
            <option [value]="country.name" *ngFor="let country of countries">{{country.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="formGroupExampleInput2" class="form-label"><span>&#8203;</span></label>
          <div class="">
            <button class="submit-button" (click)="changeCountries()">Change countries</button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

</div>
