.block-content {
  margin-top: 100px;
}

.block-inner {
  max-width: 1100px;
}

.block-border {
  border: 2px solid #949494;
  border-radius: 15px;
}

.block-heading-container {
  margin-top: -20px;
  position: absolute;
  left: 0;
  right: 0;
}

.block-heading {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  /* Black */

  color: #151515;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block {
  .flag_name {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    height: 30px;
  }

  @media only screen and (min-width: 800px) {
    padding: 120px;
  }

  .flagsblock_left {

    .visato {
      color: #FD8127;
    }

    p {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
    }

    .link {
      background: #FD8127;
      font-family: Noto Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #fff;
      width: 140px;
      text-align: center;
      padding: 11px;
      display: block;
      text-decoration: none;
      border-radius: 4px;
    }
  }

  .flagsblock_right {

    .flag {
      width: 100px;
      height: 100px;
      margin: 20px;
      border-radius: 50%;
    }

  }

  .block-bottom-button-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 97%;
    width: 400px;
    height: 53px;
    background: white;
  }

}

.block:not(:first-child) {
  padding-top: 0px;
}

.block-flags {
  height: 544px;
  @media only screen and (max-width: 1024px) {
    height: 700px;
  }
}

.block-travelling {
  height: 808px;

  .block-heading {
    width: 550px;
  }

  .block-travelling-image {
    width: 100%;
  }

  .travelling-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
  }

  .travelling-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    /* or 26px */


    color: #000000;

    opacity: 0.5;
  }
}

.block-proccess {
  height: 600px;

  .block-content {
    margin-top: 80px;
  }
}

.proccess-image {
  height: 250px;
}

.proccess-heading {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;

  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  /* or 45px */

  display: flex;
  align-items: center;

  /* Black */

  color: #151515;
}

.proccess-info {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  /* or 26px */

  text-align: center;

  /* Grey */

  color: #696969;
}

.proccess-info-text {
  width: 232px;
}

.block-clients {
  height: 856px;

  .block-heading {
    width: 500px;
  }

  .block-clients-info {
    width: 610px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    /* or 26px */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .block-clients-review {
    margin-top: 70px;
    width: 750px;
  }

  .block-clients-review-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151515;
  }

  .block-clients-review-info {
    width: 515px;
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    color: #696969;
  }
}

.block-whyus {
  height: 869px;

  .block-heading {
    color: #151515;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
  }

  .whyus-list-img {
    float: right;
  }

  .whyus-list-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    color: #151515;
  }

  .whyus-list-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
  }
}

