<div class="block">
    <div class="block-flags row block-inner block-border ml-auto mr-auto">
        <div class="row block-heading-container ml-auto mr-auto">
            <div class="block-heading">Most popular visas</div>
        </div>
        <div class="col-sm-12 block-content flagsblock_right">
            <div class="row">
                <div class="col-lg-2 col-sm-3" *ngFor="let flag of flags">
                    <img src="{{'/assets/img/flags/' + flag.src + '.png'}}" class="flag" />
                    <div class="flag_name">{{flag.country}}</div>
                </div>
            </div>
        </div>
        <div class="block-bottom-button-container ml-auto mr-auto">

            <button class="submit-button ml-auto mr-auto">
                Check over visas
            </button>
        </div>
    </div>
</div>
<div class="block">
    <div class="block-travelling row block-inner block-border ml-auto mr-auto">
        <div class="row block-heading-container ml-auto mr-auto">
            <div class="block-heading">Travelling made easy</div>
        </div>
        <div class="row block-content">
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-sm-2">
                            <img [src]="'/assets/svg/main/svg1.svg'">
                        </div>
                        <div class="col-sm-10">
                            <div class="row travelling-heading">At your home or office</div>
                            <div class="row travelling-info">Nulla deserunt consectetur anim aliquip dolor enim officia fugiat enim consectetur officia. Cupidatat et do velit excepteur nostrud fugiat magna cillum voluptate exercitation est proident. Ut non adipisicing tulip.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-sm-2">
                            <img [src]="'/assets/svg/main/svg2.svg'">
                        </div>
                        <div class="col-sm-10">
                            <div class="row travelling-heading">Professional assistance</div>
                            <div class="row travelling-info">Ut non adipisicing adipisicing fugiat aliqua officia laboris pari atur nulla deserunt. Exercitation eu deserunt enim veniam offi cia adipisicing laborum fugiat incididunt consectetur volup
                            tate sunt aliqua.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-sm-2">
                            <img [src]="'/assets/svg/main/svg3.svg'">
                        </div>
                        <div class="col-sm-10">
                            <div class="row travelling-heading">Safe & Secure</div>
                            <div class="row travelling-info">Cupidatat et do velit excepteur nostrud fugiat magna cillum vo luptate exercitation est proident. Ut non adipisicing adip isicing fugiat aliqua officia laboris pariatur nulla deserunt. Exercitation eu deserunt enim.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-bottom-button-container ml-auto mr-auto">

            <button class="submit-button ml-auto mr-auto">
                Start your application
            </button>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-travelling row block-inner ml-auto mr-auto">
        <img [src]="'/assets/img/player.png'" class="block-travelling-image">
    </div>
</div>

<div class="block">
    <div class="block-proccess row block-inner block-border ml-auto mr-auto">
        <div class="row block-heading-container ml-auto mr-auto">
            <div class="block-heading">The Process</div>
        </div>
        <div class="container-fluid">
            <div class="row block-content">
                <div class="col-4">
                    <div class="block-proccess-column">
                        <div class="row proccess-image"><img class="ml-auto mr-auto" [src]="'/assets/svg/main/svg4.svg'"></div>
                        <div class="row proccess-heading">Choose a country</div>
                        <div class="row proccess-info">
                            <div class="proccess-info-text ml-auto mr-auto">
                                Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit. Aute do nisi culpa officia qui anim in iru.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-proccess-column">
                        <div class="row proccess-image"><img class="ml-auto mr-auto" [src]="'/assets/svg/main/svg5.svg'"></div>
                        <div class="row proccess-heading">Complete order</div>
                        <div class="row proccess-info">
                            <div class="proccess-info-text ml-auto mr-auto">Laboris sit et sit quis exerci tat ut duis eu. Occaecat do incididunt labore ex aute non incididunt commodo.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-proccess-column">
                        <div class="row proccess-image"><img class="ml-auto mr-auto" [src]="'/assets/svg/main/svg6.svg'"></div>
                        <div class="row proccess-heading">Receive visa</div>
                        <div class="row proccess-info">
                            <div class="proccess-info-text ml-auto mr-auto">Aute do nisi culpa officia qui anim in irure laborum laboris dolore. Laboris sit et sit quis exercitation ut.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="block-bottom-button-container ml-auto mr-auto">

            <button class="submit-button ml-auto mr-auto">
                Start your application
            </button>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-whyus row block-inner block-border ml-auto mr-auto">
        <div class="row block-heading-container ml-auto mr-auto">
            <div class="block-heading">Why us?</div>
        </div>
        <div class="row block-content">
            <div class="col-6" *ngFor="let whyus of whyuses; let i = index">
                <div class="row">
                  <div class="col-2">
                    <img class="whyus-list-img ml-auto mr-auto" [src]="'/assets/svg/main/whyus/svg' + getIndex(i) + '.svg'">
                  </div>
                  <div class="col-10">
                    <div class="whyus-list-header">{{whyus.header}}</div>
                    <div class="whyus-list-info">{{whyus.description}}</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="block">
    <div class="block-clients row block-inner block-border ml-auto mr-auto">
        <div class="row block-heading-container ml-auto mr-auto">
            <div class="block-heading">What our clients say</div>
        </div>
        <div class="container-fluid">
            <div class="row block-content">
                <div class="row block-clients-info ml-auto mr-auto">We are proud to deliver our services to the employees of British Petroleum, Amazon, Monzo, Facebook, BBC, Deutsche Boerse, Apple, Alphabet, Procter & Gamble, JPMorgan and so many more. Here are some of the testimonials.</div>
            </div>
            <div class="row block-clients-review ml-auto mr-auto">
                <div class="col-lg-2"><img class="ml-auto mr-auto" [src]="'/assets/img/clients/client1.png'"></div>
                <div class="col-lg-10">
                    <div class="row block-clients-review-name">Loren Bump, entrepreneur:</div>
                    <div class="row block-clients-review-info">“Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit. Aute do nisi culpa officia qui anim in iru. Laboris sit et sit quis exerci tat ut duis. Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit.”</div>
                </div>
            </div>
            <div class="row block-clients-review ml-auto mr-auto">
                <div class="col-lg-2"><img class="ml-auto mr-auto" [src]="'/assets/img/clients/client2.png'"></div>
                <div class="col-lg-10">
                    <div class="row block-clients-review-name">Sarah Hill, HR director:</div>
                    <div class="row block-clients-review-info">“Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit. Aute do nisi culpa officia qui anim in iru. Laboris sit et sit quis exerci tat ut duis. Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit.”</div>
                </div>
            </div>
            <div class="row block-clients-review ml-auto mr-auto">
                <div class="col-lg-2"><img class="ml-auto mr-auto" [src]="'/assets/img/clients/client3.png'"></div>
                <div class="col-lg-10">
                    <div class="row block-clients-review-name">Ben Nevis, operations director:</div>
                    <div class="row block-clients-review-info">“Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit. Aute do nisi culpa officia qui anim in iru. Laboris sit et sit quis exerci tat ut duis. Occaecat culpa deserunt sit aliqua quis minim sunt voluptate mollit.”</div>
                </div>
            </div>
        </div>
    </div>
</div>
