<!-- <div class="row faq" id="faq">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12 faq_title">Any Questions?</div>
        </div>
        <div class="row">
            <div class="col-xl-12 faq_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
        </div>
        <div class="row">
            <div class="col-xl-12 faq_navigation">
                <ul>
                    <li><a [ngClass]="{'active': selCategory == 'GENERAL'}"
                            (click)="selCategory = 'GENERAL'">GENERAL</a></li>
                    <li><a [ngClass]="{'active': selCategory == 'PAYMENTS'}"
                            (click)="selCategory = 'PAYMENTS'">PAYMENTS</a></li>
                    <li><a [ngClass]="{'active': selCategory == 'DOCUMENTS'}"
                            (click)="selCategory = 'DOCUMENTS'">DOCUMENTS</a></li>
                    <li><a [ngClass]="{'active': selCategory == 'FEES'}" (click)="selCategory = 'FEES'">FEES</a></li>
                    <li><a [ngClass]="{'active': selCategory == 'COUNTRIES'}"
                            (click)="selCategory = 'COUNTRIES'">COUNTRIES</a></li>
                </ul>
            </div>
        </div>
        <div class="row faq_list">
            <ng-container *ngFor="let faq of faqs">
                <div class="col-md-4" *ngIf="faq.category.includes(selCategory)">
                    <div class="faq_element">
                        <div class="faq_element_title">{{faq.title}}</div>
                        <div class="faq_element_description">{{faq.body}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->