.faq {

    .faq_title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 37px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;
        color: #3A3C3F;
        margin-top: 40px;
    }

    .faq_description {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        color: #3A3C3F;
        margin-top: 20px;
    }

    .faq_navigation {
        ul {
            list-style: none;
            padding: 0px;
            text-align: center;
            li {
                display: inline-flex;
                list-style: none;
                align-items: center;
                margin: 20px;

                a {
                    font-family: Noto Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                    text-align: center;
                    color: #3A3C3F;
                    cursor: pointer;
                    &.active{
                        border-bottom: 4px solid #FD8127;
                    }
                }
            }
        }
    }

    .faq_list {
        position: relative;
        margin-bottom: 40px;
        .faq_element {
            background: #FFFFFF;
            border-radius: 4px;
            padding: 44px;
            box-shadow: 0px 0px 10px #dedede;
            margin: 10px;
            height: fit-content;

            .faq_element_title {
                font-family: Noto Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 140%;
                color: #195097;
            }

            .faq_element_description {
                margin-top: 26px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 160%;
                color: #3A3C3F;
            }
        }
    }
}