.delivery-note {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #8D8D8D;
  opacity: 0.8;
  margin-top: 12px;
}

.form-check-label {
  height: 22px;
}

.form-control-no-label + .form-control-no-label {
  margin-top: 12px;
}
select.form-control {
  height: 48px;
}
