<div class="block-border block-inner page-container ml-auto mr-auto">
  <div class="order-container ml-auto mr-auto">
    <form [formGroup]="form">
      <div class="container p-0 order_heading">
        <div class="order-heading">
          <div class="row">
            <span class="order-title">Order details & Delivery</span> <span class="order-step"> (Step 3 of 5) </span>
          </div>
        </div>
      </div>

      <div class="container form_type p-0" *ngIf="form">
        <div class="row form_title form-group-header">
          Delivery details
        </div>
        <div class="row" formGroupName="delivery">
          <div class="col-6 p-0">
            <div class="form-group">
              <label class="form-label">Choose preferred type of delivery</label>
              <div class="row p-0 form-gender-input" *ngFor="let deliveryRate of deliveryRates">
                <input type="radio" class="radio-gender mt-auto mb-auto" [id]="'delivery_rate' + deliveryRate.id" [value]="deliveryRate.id" checked="checked" formControlName="delivery_rate">
                <label class="form-check-label" [for]="'delivery_rate' + deliveryRate.id">
                  {{deliveryRate.delivery_rate + ' - £' + deliveryRate.price}}
                </label>
              </div>
              <small *ngIf="errors['delivery_rate']" class="form-text form-message">{{errors['delivery_rate'][0]}}</small>
              <div class="delivery-note">
                <p><strong>Note:</strong> We deliver passports only within the UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container form_type p-0" *ngIf="form">
        <div class="row form_title form-group-header">
          Delivery address
        </div>
        <div class="row" formGroupName="delivery">
          <div class="col-10 p-0">
            <div class="form-group col-6 p-0">
              <label for="first_name" class="form-label">Name</label>
              <input id="first_name" placeholder="Adam" type=text class="form-control" formControlName="first_name">
              <small *ngIf="errors['first_name']" class="form-text form-message">{{errors['first_name'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="last_name" class="form-label">Surname</label>
              <input id="last_name" placeholder="Smith" type=text class="form-control" formControlName="last_name">
              <small *ngIf="errors['last_name']" class="form-text form-message">{{errors['last_name'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="phone" class="form-label">Phone number</label>
              <div class="row p-0">
                <select [(ngModel)]="selCountryCode" [ngModelOptions]="{standalone: true}" (change)="setCountryCode()" class="form-control col-4" id="phone">
                  <option *ngFor="let countryCode of countryCodes">{{countryCode.dial_code}}</option>
                </select>
                <input id="phone2" placeholder="0747 650 2955" type=text class="form-control col-8" formControlName="phone">
              </div>
              <small *ngIf="errors['phone']" class="form-text form-message">{{errors['phone'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="address" class="form-label">Address</label>
              <input class="form-control form-control-no-label" placeholder="Mr Bean Production" type=text formControlName="address" id="address">
              <input class="form-control form-control-no-label" placeholder="Flat 2 12 Arbour Road" type=text [(ngModel)]="selAddress2" [ngModelOptions]="{standalone: true}">
              <input class="form-control form-control-no-label" placeholder="Highbury" type=text [(ngModel)]="selAddress3" [ngModelOptions]="{standalone: true}">
              <small *ngIf="errors['address']" class="form-text form-message">{{errors['address'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="city" class="form-label">Town or city</label>
              <input id="city" placeholder="Mr Bean Production" type=text class="form-control" formControlName="city">
              <small *ngIf="errors['city']" class="form-text form-message">{{errors['city'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="post_code" class="form-label">Postal code</label>
              <input id="post_code" placeholder="SW16 0QU" type=text class="form-control" formControlName="post_code">
              <small *ngIf="errors['post_code']" class="form-text form-message">{{errors['post_code'][0]}}</small>
            </div>
            <div class="form-check form-group">
              <input class="form-check-input" type="checkbox" formControlName="invoice" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Tick here if your billing address for invoice/receipt is different
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="container form_type p-0" *ngIf="this.form.controls['delivery']['controls']['invoice'].value == true" formGroupName="invoice">
        <div class="row form_title form-group-header">
          Billing address
        </div>
        <div class="row">
          <div class="col-10 p-0">
            <div class="form-group col-6 p-0">
              <label for="company" class="form-label">Company name</label>
              <input id="company" placeholder="Ivan" type=text class="form-control" formControlName="company">
              <small *ngIf="errors['company']" class="form-text form-message">{{errors['company'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="address1" class="form-label">Address</label>
              <input class="form-control form-control-no-label" placeholder="Mr Bean Production" type=text formControlName="address" id="address1" >
              <input class="form-control form-control-no-label" placeholder="Flat 2 12 Arbour Road" type=text [(ngModel)]="selBillingAddress2" [ngModelOptions]="{standalone: true}">
              <input class="form-control form-control-no-label" placeholder="Highbury" type=text [(ngModel)]="selBillingAddress3" [ngModelOptions]="{standalone: true}">
              <small *ngIf="errors['address']" class="form-text form-message">{{errors['address'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="city1" class="form-label">Town or city</label>
              <input id="city1" placeholder="Helsinki" type=text class="form-control" formControlName="city">
              <small *ngIf="errors['city']" class="form-text form-message">{{errors['city'][0]}}</small>
            </div>
            <div class="form-group col-6 p-0">
              <label for="post_code1" class="form-label">Postal code</label>
              <input id="post_code1" placeholder="SW16 0QU" type=text class="form-control" formControlName="post_code">
              <small *ngIf="errors['post_code']" class="form-text form-message">{{errors['post_code'][0]}}</small>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="nex-step-container">
    <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm()">
      Save and continue
    </button>
  </div>
</div>
