<div class="row mainbanner" id="about">
  <div class="col-sm-12 mainbanner_container">
    <div class="row">
      <div class="col-sm-12 mainbanner_right">
        <div class="justify-content-center">
            <div class="header">Travel visa requirements</div>
            <div class="header_info">
              <div class="col-sm-6 ml-auto mr-auto">
                Sometimes a journey of a thousand miles begins with a visa. <br>
                Check your destination and apply online for any visa in the world.
              </div>
            </div>
        </div>
        <div class="header_form">
          <form #orderForm="ngForm" (ngSubmit)="goToOrder()">
            <div class="row justify-content-center">
              <div class="col-sm-2 header-form-column">
                <div class="form-group">
                  <label for="formGroupExampleInput" class="form-label">Where are you from?</label>
                  <select [(ngModel)]="nationality" id="formGroupExampleInput" class="form-control" [ngModelOptions]="{standalone: true}" (change)="onNationalityChange()">
                    <option [value]="nationality.name" *ngFor="let nationality of nationalities">{{nationality.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2 ml-16 header-form-column">
                <div class="form-group">
                  <label for="formGroupExampleInput2" class="form-label">Where are you travelling?</label>
                  <select [(ngModel)]="country" id="formGroupExampleInput2" class="form-control" [ngModelOptions]="{standalone: true}" (change)="onCountryChange()">
                    <option [value]="country.name" *ngFor="let country of countries">{{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2 ml-16 header-form-column">
                <button class="submit-button" type="submit" name="enter" [disabled]="orderForm.form.invalid">Check Requirements</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
