.mainbanner {
  min-height: 500px;
  background: url(/assets/img/main.png);
  background-size: cover;
}

.mainbanner_left {
  min-height: 100vh;

  .watchPresentationButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    bottom: 20px;
    left: 20px;
    position: absolute;

    &:hover {
      .circle .circle {
        box-shadow: 2px 5px 5px #0003;
      }
    }

    &:active {
      .circle .circle {
        box-shadow: -2px -2px 1px #0003;
        background: linear-gradient(145deg, rgba(92, 92, 92, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
      }
    }

    .circle {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.07);
      background: linear-gradient(315deg, rgba(92, 92, 92, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
      align-items: center;
      justify-content: center;
      display: flex;
      box-shadow: 2px 5px 13px #0003;
      transition: 100ms;

      .circle {
        width: 114.87px;
        height: 114.87px;
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(315deg, rgba(92, 92, 92, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
        transition: 100ms;

        .circle {
          width: 71.11px;
          height: 71.11px;
          background: rgba(255, 255, 255, 0.2);
          background: linear-gradient(315deg, rgba(92, 92, 92, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
          transition: 100ms;
        }
      }
    }

    .text {
      margin-left: 32px;
      font-family: Noto Sans, serif;
      font-style: normal;
      width: 139px;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.89);
    }
  }
}

.header-form-column {
 max-width: 283px;
}
.mainbanner_container {
  background: rgba(0, 0, 0, 0.3);
}

.mainbanner_right {
  padding: 60px 20px;

  @media only screen and (min-width: 800px) {
    padding: 32px 80px 80px;
  }

  .header {
    margin-top: 40px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
  }

  .form-control {
    width: 283px;
    height: 53px;

    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Grey */

    color: #696969;
  }

  .mt-18 {
    margin-top: 18px;
  }

  .header_form {
    margin-top: 180px;
  }

  .header_info {
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    text-align: center;

    color: #FFFFFF;
  }

  .form-label {
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;

    opacity: 0.8;
  }

  .ml-16 {
    margin-left: 16px;
  }
}

.mainbanner_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}
.submit-button {
  margin: 38px 16px auto auto;
}
