<div class="footer align-items-center">
  <div class="footer_info row">
    <div class="col-2">
      <a href="/" class="header_logo_link">
        <img
          [src]="'/assets/svg/LogoLight.svg'"
          alt="За стеклом">
      </a>
    </div>
    <div class="col-2">
      <div class="row footer_link">About</div>
      <div class="row footer_link">Visas</div>
      <div class="row footer_link">Contact us</div>
    </div>
    <div class="col-6">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="row footer_header">
              Contact details:
            </div>
            <div class="row footer_description">
              +44 (0) 20 7985 1212<br>
              info@vthglobal.co.uk
            </div>
          </div>
          <div class="col-6">
            <div class="row footer_header">
              Address:
            </div>
            <div class="row footer_description">
              202 Kensington Church St,<br>
              1st floor<br>
              London, W8 4DP
            </div>
          </div>


        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="row footer_header_2">
              For partnerships contact:
            </div>
            <div class="row footer_description">
              Anna Jenner<br>
              a.jenner@vthglobal.co.uk
            </div>
          </div>
          <div class="col-6">
            <div class="row footer_header_2">
              Opening hours:
            </div>
            <div class="row footer_description">
              Monday to Friday<br>
              9 am to 18 pm
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer_rights row footer_2">
    <div class="col-6 footer_rights_year">
      <div class="float-left">© Visa To Go, 2020</div>
    </div>
    <div class="col-6 ">
      <div class="float-right">
        <img
          [src]="'/assets/svg/Ico.svg'"
          alt="За стеклом">
      </div>
    </div>
  </div>
</div>
