hr {
  border: none;
  color: white;
  background-color: white;
  height: 1px;
  max-width: 1200px;
  opacity: 0.4;
}

.footer {
  background: #060F2E;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;

  .footer_info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .footer_link {
      height: 56px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #F6F6F6;
    }

    .footer_header {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #F6F6F6;
      align-items: center;
      height: 56px;
    }


    .footer_header_2 {
      margin-top: 30px;
      height: 40px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */


      color: #F6F6F6;
    }

    .footer_description {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 145%;
      /* or 20px */
      color: #F6F6F6;

    }
  }

  .footer_rights {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .footer_rights_year {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 145%;
      /* or 20px */

      align-items: center;

      color: #F6F6F6;
    }
  }

  .footer_1 {
    min-height: 120px;

    .footer_1_logo {
      padding-top: 40px;
      text-align: center;

      a {
        font-family: Raleway;
        font-style: italic;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #FD8127;
      }
    }

    .footer_1_menu {
      padding-top: 25px;
      text-align: center;

      ul {
        list-style: none;

        li {
          display: inline-flex;
          list-style: none;
          align-items: center;
          margin: 0;

          a {
            font-family: Noto Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-decoration: none;
            padding-right: 30px;
            color: #ffffff;
            margin-top: 8px;

            &:hover {
              color: #FD8127;
            }
          }
        }
      }

    }

    .footer_1_phone {
      padding-top: 40px;
      text-align: center;

      span {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        color: #FD8127;
      }
    }
  }

  .footer_2 {
    text-align: center;
    padding-bottom: 36px;

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
    }
  }
}
@media screen and (max-width: 900px) {
  .footer_description {
    margin-top: 40px;
  }
}
