.news {
    padding: 120px;

    @media only screen and (max-width: 800px) {
        padding: 30px 10px;
    }

    background: #195097;

    .news_title-nav{
        margin-bottom: 40px;
    }
    .news_title-nav_title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 37px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .news_title-nav_nav {
        text-align: center;
        cursor: pointer;
    }

    .news_list {

        .news_list_element {
            height: 650px;
            width: 100%;
            overflow: hidden;

            padding: 0px;

            .news_list_element-fix {
                padding: 0px;
                background-color: #ffffff;
                width: 100%;
                height: 640px;
            }

            &:nth-child(2n+1) {
                padding-top: 10px;
            }

            &:nth-child(2n) {
                box-shadow: 0 0 69px #19509738;
            }

            div {
                padding: 10px 20px;
            }

            .news_list_element_image {
                height: 320px;
                width: 100%;
            }

            .news_list_element_title {
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                line-height: 140%;
                color: #3A3C3F;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                width: 100%;
            }

            .news_list_element_date {
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 160%;
                color: #CED2D7;
            }

            .news_list_element_body {
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #3A3C3F;
                white-space: break-spaces;
                max-height: 190px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


drag-scroll {
    height: 650px;
}