<!-- <div class="row news" id="news">
    <div class="col-xl-12">
        <div class="row news_title-nav">
            <div class="col-md-3"></div>
            <div class="col-md-6 news_title-nav_title">LATEST EMBASSY UPDATES</div>
            <div class="col-md-3 news_title-nav_nav">
                <span>
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" class="prev" (click)="moveLeft()">
                        <circle cx="28" cy="28" r="27.5" stroke="#CED2D7"></circle>
                        <path d="M30.7998 36L23.7998 29L30.7998 22" stroke="#CED2D7"></path>
                    </svg>
                    &nbsp;
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" class="next" (click)="moveRight()">
                        <circle cx="28" cy="28" r="27.5" transform="rotate(180 28 28)" stroke="#CED2D7"></circle>
                        <path d="M25.2002 21L32.2002 28L25.2002 35" stroke="#CED2D7"></path>
                    </svg>
                </span>
            </div>
        </div>
        <div class="row news_list">
            <div class="col-md-12">
                <drag-scroll class="row scroller" #nav [scrollbar-hidden]="true">
                    <ng-container *ngFor="let newsEl of news">
                        <div class="col-lg-4 news_list_element" drag-scroll-item>
                            <div class="news_list_element-fix">
                                <img class="news_list_element_image" src="{{newsEl.photo}}" alt="{{newsEl.title}}">
                                <div class="news_list_element_date">{{newsEl.date}}</div>
                                <div class="news_list_element_title">{{newsEl.title}}</div>
                                <div class="news_list_element_body">{{newsEl.body}}</div>
                            </div>
                        </div>
                    </ng-container>
                </drag-scroll>
            </div>
        </div>
    </div>
</div> -->