.order-title-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 24px;
}

.order-title-text-blue {
  color: #3C65F4;
}

.order-icon {
  margin-top: 56px;
}

.order-block {
  width: 716px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 88px;

  &--upload-documents {
    @extend .order-block;
    margin-top: 36px;
    .buttons-block {
      margin-top: 24px;
      margin-bottom: 22px;
    }
    .order-block-text {
      width: 600px;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
    }

    .you-uploaded {
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 18px;
      height: 36px;
      /* height: 100px; */
      line-height: 36px;
    }

    .you-uploaded-document-list {
      background: #F6F6F6;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 18px;
      margin-left: 8px;
      height: 36px;
      padding-left: 12px;
      padding-right: 13px;
    }

    .delete-item {
      border: none;
      padding: 0;
      cursor: pointer;
      padding-left: 8px;
      background: none;
      outline:none;
      img {
        vertical-align: baseline;
      }
      &:active {

      }
    }
    .you-uploaded-document-list:first-child {
      margin-left: 5px;
    }
  }
}

.order-block-drag-and-drop {
  cursor: pointer;
  height: 174px;
  width: 716px;
  background: #F0F2FA;
  border: 1px solid #97ADFA;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 48px;

  .title {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    color: #3C65F4;
    margin-top: 24px;
    text-align: center;
  }

  .download-revert-svg img {
    height: 82.67409564843476px;
    width: 82.67409564843476px;
    transform: rotate(
        180deg
    );
  }
}

.buttons-block {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-block-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 145%;
}

.order-block-button {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #3C65F4;
  border: none;
  background: none;
}

.order-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-upload-documents {
}

.order-container {
  width: 880px;
}

.next-step-item {
  margin-bottom: 24px;
  color: #484848;
  .glue {
    margin-left: 47px;
  }

  .glue-bold {
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .glue-follow {
    margin-bottom: 0;
  }

  .make-sure-bold {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

  }

  .next-step-submit {
    margin-left: 40px;
  }
}

.next-step-item + .next-step-item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.next-step-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #000000;
}

.next-step-item-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.next-step-item-description-bold {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
}

.next-step-list {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.next-step-list li {
  padding-left: 7px;
}

ul {
  list-style-image: url('../../../../assets/svg/order-thank-you/○.svg');
  //list-style-type: circle;
}
.page-container {
  padding-bottom: 61px;
}
