<div class="block-border block-inner page-container ml-auto mr-auto">
  <div class="order-container ml-auto mr-auto">
    <div class="container p-0 order_heading">
      <div class="order-heading">
        <div class="row p-0">
          <div class="order-title ml-auto mr-auto">Thank you!</div>
          <div class="order-title-text ml-auto mr-auto">
            <span>
              <span class="order-title-text-blue">We’ve received your application.</span>
              <br> Your order reference number is <span class="order-title-text-blue">6182765985</span>
            </span>
          </div>
          <div class="order-icon ml-auto mr-auto">
            <img [src]="'assets/svg/order-thank-you/Icon.svg'">
          </div>
        </div>
      </div>
    </div>
    <div class="container order-block p-0">
      <div class="row p-0 order-block-title">
        Your next steps
      </div>
      <div class="row p-0 order-summary-items" id="printData">
        <div class="col-12 p-0">
          <div class="next-steps-list">
            <div class="next-step-item">
              <div class="next-step-item-title">
                1. Go to the <span class="order-title-text-blue">&nbsp;Embassy website&nbsp;</span> and fill out your visa application
              </div>
              <div class="next-step-item-description">
                We’ve prepared some <b><span class="order-title-text-blue">helpful tips</span></b>, which would help you to fill out the form correctly. We advise you to have the following information before beginning the online form:
              </div>
              <ul class="next-step-list">
                <li> Your current passport details </li>
                <li> Your previous passport details – up to 3 passports (if you still have them) </li>
                <li> Your National Insurance number </li>
                <li> Details of all visits to foreign countries in the past 10 years </li>
                <li> If married - your spouse’s passport details </li>
                <li> Children’s passport details, and their address if they are not residing with you </li>
                <li> Your parents’ details (full names, dates and places of birth and dates and places of death if deceased) </li>
                <li> Your current bank account details </li>
                <li> Inviting company details (see below) </li>
              </ul>
            </div>
            <div class="next-step-item">
              <div class="next-step-item-title">
                2. Print your visa application form and sign it
              </div>
            </div>
            <div class="next-step-item">
              <div class="next-step-item-title">
                3. Glue a passport-type photograph to the form
              </div>
              <div class="next-step-item-description glue">
                The photograph needs to be cut and glued to the indicated space on the application form.
              </div>
              <div class="next-step-item-description glue glue-bold">
                Visa photograph requirements:
              </div>
              <ul class="next-step-list">
                <li> Recent colour photograph (not more than 6 months old). </li>
                <li> Taken against a light background (white or off-white). Features should be distinguishable and contrast against the background. </li>
                <li> Clear quality and with the face in focus. </li>
                <li> Printed on normal photographic paper (camera print) </li>
                <li> 35mm x 45mm in size. </li>
              </ul>
              <div class="next-step-item-description glue glue-follow">
                Please follow these instructions carefully. If photographs presented do not meet these requirements your application will be considered incomplete.
              </div>
            </div>
            <div class="next-step-item">
              <div class="next-step-item-title">
                4. Make sure you have all required documents before submitting your application
              </div>
              <ul class="next-step-list">
                <li> <span class="make-sure-bold">Original Passport</span> (6 months upon exit, 1 clear page in the passport) </li>
                <li> <span class="make-sure-bold">Completed Application form</span> (available online at step 5 of this order process). </li>
                <li> <span class="make-sure-bold">Visatogo Booking Form</span> (available online at step 5 of this order process) with payment details. </li>
                <li> <span class="make-sure-bold">1 passport type-photograph.</span> </li>
                <li> <span class="make-sure-bold">Supporting (employment) letter from the company in UK</span> confirming name, address of the inviting company in Russia, purpose of visit, dates of the first trip, name of a person meeting in Russia and financial responsibilities. </li>
                <li> <span class="make-sure-bold">Business visa support documents</span> (provided by us) </li>
                <li> <span class="make-sure-bold">Bank statement.</span> 3 months bank statement with name and address on it for self-employed or unemployed. </li>
              </ul>
            </div>
            <div class="next-step-item">
              <div class="next-step-item-title">
                5. Submit your application and biometric registration
              </div>
              <div class="next-step-item-description next-step-submit">
                <p>
                  Submit your application at our office. Please note that applicants aged 12 or older require a personal application in our office. We recommend you check the main page of our web-site for any bank holidays, closures or service disruption.<br>
                  <br>
                  <span class="next-step-item-description-bold">Address:</span><br>
                  202 Kensington Church Street,<br>
                  London, W8 4DP<br>
                  <br>
                  <span class="next-step-item-description-bold">Opening hours:</span><br>
                  9am to 1pm<br>
                  weekdays except UK and Russian Bank Holidays<br>
                  <br>
                  When your visa is ready, we can post the passport and visa back to you, or you can collect it from our office. Please allow two extra working days for postal delivery.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-block">
        <button class="order-block-button">
          <img [src]="'assets/svg/Download.svg'">
          Save as PDF
        </button>
        <button class="order-block-button" (click)="printData()">
          <img [src]="'assets/svg/Printer.svg'">
          Print</button>
      </div>
    </div>
    <hr>
    <div class="container p-0 order-block--upload-documents">
      <div class="row order-block-title">
        Upload supporting documents
      </div>
      <div class="row p-0 order-block-desc">
        List of documents for this type of visa
      </div>
      <div class="row p-0 buttons-block">
        <button class="order-block-button">
          <img [src]="'assets/svg/Download.svg'">
          Save
        </button>
        <button class="order-block-button">
          <img [src]="'assets/svg/Printer.svg'">
          Print</button>
      </div>
      <div class="row p-0 order-block-text">
          Uploading documents is optional, but this will allow us to pre-check the application and make sure your documents are in line with the embassy guidelines. Maximum file size for uploading in this section is 3 Mb.
      </div>
      <div class="row p-0 order-block-drag-and-drop" (click)="uploader.click()" appDnd (fileDropped)="onFileDropped($event)">
        <div class="container-fluid p-0">
          <div class="title ml-auto mr-auto">
            Drag and drop your documents to upload
          </div>
        </div>
        <div class="row p-0 ml-auto mr-auto download-revert-svg">
          <img [src]="'assets/svg/Download.svg'">
        </div>
      </div>
      <div class="row p-0 you-uploaded">
        You uploaded:
        <div class="row you-uploaded-document-list" *ngFor="let uploadedDocument of files; let i = index">
          {{uploadedDocument.name}}
          <button class="delete-item">
            <img [src]="'assets/svg/Delete.svg'">
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="nex-step-container">
    <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm()">
      Save your progress
    </button>
  </div>
</div>
<input
  hidden
  type="file"
  #uploader
  (change)="uploadFile($event)"
/>
