<div class="row">
  <div class="block-border block-inner page-container ml-auto mr-auto">
    <div class="order-container ml-auto mr-auto">
      <div class="container visa_from">
        <div class="step-heading">
          <div class="row">
            <span class="order-title">Choose your visa</span> <span class="order-step"> (Step 1 of 5) </span>
          </div>
          <div class="row step-heading-info">
        <span>
          This is the visa application for <br>
          a citizen of&nbsp;<strong>{{ (order | async)?.nationality?.name}}</strong>&nbsp;going to <strong>{{ (order | async)?.country?.name}}</strong>.
        </span>

          </div>
          <div class="row order-change">
            <span class="text-link" (click)="openModal()">Click here&nbsp;</span> to change the nationality or the
            country
            of destination.
          </div>
        </div>
      </div>

      <div class="container order-block" *ngIf="visaTypes">
        <div class="row order-block-title">
          Type of Visa
        </div>
        <div class="row visa_type_desc">
          Select your visa type
        </div>
        <div class="row list">
          <div class="col-3-5 element-block" *ngFor="let type of visaTypes">
            <div class="element" (click)="selectVisaType(type)"
                 [ngClass]="{'element-selected': type?.id == this.selVisaType?.id}">
              <div class="element-title">
                <div class="element-title-inner">
                  {{type.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row description" *ngIf="selVisaType">
          <span>
            <p class="description-title">{{this.selVisaType?.name}}</p>
            <p class="description-text">{{this.selVisaType?.description}}</p>
          </span>
        </div>
      </div>

      <div class="container order-block" *ngIf="selVisaType && visaCategories.length > 0">
        <div class="row order-block-title">
          Visa Category
        </div>
        <div class="row list">
          <div class="col-3-5 element-block" *ngFor="let category of visaCategories">
            <div class="element" (click)="selectVisaCategory(category)"
                 [ngClass]="{'element-selected': category?.id == this.selVisaCategory?.id}">
              <div class="element-title">
                <div class="element-title-inner">
                  {{category.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container order-block" *ngIf="selVisaCategory && visaServicesTypes.length > 0">
        <div class="row order-block-title">
          Type of service
        </div>
        <div class="row visa_type_desc">
          Select your type of service
        </div>
        <div class="row list">
          <div class="col-3-5 element-block" *ngFor="let type of visaServicesTypes">
            <div class="element" (click)="selectTypeOfServices(type)"
                 [ngClass]="{'element-selected': type?.id == this.selVisaServiceType?.id}">
              <div class="element-title">
                <div class="element-title-inner">
                  {{type.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row description" *ngIf="selVisaServiceType">
          <span>
            <p class="description-title">{{this.selVisaServiceType?.name}}</p>
            <p class="description-text">{{selVisaServiceType?.description}}</p>
          </span>
        </div>
        <div class="row description-important" *ngIf="selVisaServiceType">
          <span>
            <p class="description-title">List of documents required for this type of visa</p>
            <p class="description-text">Business visa is issued for travellers who visit Russia on official or private business. Business visas are best for the visitors who do not know their exact itineraries.</p>
          </span>
        </div>
      </div>

      <div class="container order-block order_block_prices" *ngIf="selVisaServiceType && visaServices.length > 0">

        <hr>
        <div class="row visa-service-title">
          {{selVisaType?.name}} visa prices
        </div>
        <div class="row visa_type_desc">
          Select the most suitable service and price option.
        </div>
        <div class="row list">
          <div class="col-sm-12 p-0 list-item" *ngFor="let service of visaServices">
            <div class="element row" (click)="selectVisaService(service)"
                 [ngClass]="{'element-selected': service?.id == this.selVisaService?.id}">
              <div class="col-2-5 p-0 visa-title">
                <div class="visa-title-inner">
                  {{service.service}}
                </div>
              </div>
              <div class="col-8-5 p-0 visa-desc">
                <div class="visa-desc-inner">
                  Est consequatur facilis et consectetur ratione et rerum impedit et exercitationem.
                </div>
              </div>
              <div class="col-1 p-0 visa-price">£{{service.cost}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nex-step-container">
        <button class="submit-button next-step ml-auto mr-auto" (click)="submitForm()" *ngIf="selVisaService">
          Save and continue
        </button>
      </div>
    </div>

  </div>
</div>
