.visa-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #454545;
}

.visa_type_desc {
  margin: 16px 0;
}
.visa-desc-inner {
  padding-left: 15px;
}

.visa-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #454545;
  opacity: 0.8;
}

.visa_service .element {
  height: 78px;
}

.visa-service-title {
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
}

.page-container {
  height: auto;
  padding-bottom: 90px;
}

.order_block_prices {
  .visa-title-inner {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.8;
    top: 16px;
    left: 16px;
    position: absolute;
  }

  .element {
    height: 78px;
  }

  .col-sm-12 + .col-sm-12 {
    margin-top: 26px;
  }
}
