@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import "./assets/fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container,.row {
    margin: 0px;
    position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
    width: 100%;
}

.mat-form-field-flex {
    background-color: #ffffff !important;
}
.block-border {
  border: 2px solid #949494;
  border-radius: 15px;
}
.block-inner {
  max-width: 1100px;
}
.page-container {
  margin-top: 100px;
  margin-bottom: 50px;
  height: auto;
  width: 1100px;
  padding-bottom: 90px;
}
.form-error {
  color: #BE41BE;
  border-color: #BE41BE;
}

.form-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  color: #AD11AD;

  opacity: 0.8;
}

.text-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #3C65F4;
  cursor: pointer;
}
.custom-modal > .mat-dialog-container {
  min-width: 700px;
}
.col-1-5 {
  max-width: 12.5%;
  flex: 0 0 12.5%;
  position: relative;
}
.col-2-5 {
  max-width: 20.83333%;
  flex: 0 0 20.83333%;
  position: relative;
}
.col-3-5 {
  max-width: 29.16667%;
  flex: 0 0 29.16667%;
  position: relative;
}
.col-4-5 {
  max-width: 37.5%;
  flex: 0 0 37.5%;
  position: relative;
}
.col-5-5 {
  max-width: 45.83333%;
  flex: 0 0 45.83333%;
  position: relative;
}
.col-6-5 {
  max-width: 54.16667%;
  flex: 0 0 54.16667%;
  position: relative;
}
.col-7-5 {
  max-width: 62.5%;
  flex: 0 0 62.5%;
  position: relative;
}
.col-8-5 {
  max-width: 70.83333%;
  flex: 0 0 70.83333%;
  position: relative;
}
.col-9-5 {
  max-width: 79.16667%;
  flex: 0 0 79.16667%;
  position: relative;
}
.col-10-5 {
  max-width: 87.5%;
  flex: 0 0 87.5%;
  position: relative;
}
.col-11-5 {
  max-width: 95.8333%;
  flex: 0 0 95.8333%;
  position: relative;
}
.form-control:focus {
   box-shadow: none;
 }
.submit-button:active{
  background: cornflowerblue !important;
}
.submit-button:focus {outline:0;}
.submit-button:hover {
  background-color: #0e3ff1;
}

.submit-button {
  cursor: pointer;
  background: #3C65F4;
  border: none;
  border-radius: 8px;

  width: 254px;
  height: 54px;
  text-align: center;
  padding: 11px;
  margin: 16px auto;
  display: block;
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
}
.submit_button-text {
  font-family: Roboto;
  margin-top: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}
